### I will import The libraries

In [2]:
import requests as rq
import pandas as pd

### I Will Make The connection To API To get Data about The consumption of all USA States of electricity

In [6]:
API_KEY = "WRqKD1G6pseUHWrppNQM2OHc7zz3CVdMRcOQ1Qzp"
base_url = "https://api.eia.gov/v2/electricity/retail-sales/data/"
params = {
    "api_key": API_KEY,
    "data[0]": "sales",
    "start": 2005,
    "end": 2023,
    "frequency": "monthly",              
    "length": 5000
}

all_data = []
offset = 0

while True:
    params["offset"] = offset
    r = rq.get(base_url, params=params)
    data = r.json()["response"]["data"]
    if not data:
        break
    all_data.extend(data)
    offset += 5000 

Cons_df = pd.DataFrame(all_data)
print("Total rows:", len(Cons_df))

Total rows: 85188

### The Data of Consumption of all States

In [3]:
Cons_df

,period,stateid,stateDescription,sectorid,sectorName,sales,sales-units
0,2023-01,AK,Alaska,ALL,all sectors,587.91571,million kilowatt hours
1,2023-01,AK,Alaska,COM,commercial,237.6831,million kilowatt hours
2,2023-01,AK,Alaska,IND,industrial,119.73471,million kilowatt hours
3,2023-01,AK,Alaska,OTH,other,None,million kilowatt hours
4,2023-01,AK,Alaska,RES,residential,230.4979,million kilowatt hours
...,...,...,...,...,...,...,...
80719,2005-01,WY,Wyoming,COM,commercial,295.41683,million kilowatt hours
80720,2005-01,WY,Wyoming,IND,industrial,743.28595,million kilowatt hours
80721,2005-01,WY,Wyoming,OTH,other,None,million kilowatt hours
80722,2005-01,WY,Wyoming,RES,residential,259.06178,million kilowatt hours
80723,2005-01,WY,Wyoming,TRA,transportation,0,million kilowatt hours

In [4]:
Cons_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80724 entries, 0 to 80723
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   period            80724 non-null  object
 1   stateid           80724 non-null  object
 2   stateDescription  80724 non-null  object
 3   sectorid          80724 non-null  object
 4   sectorName        80724 non-null  object
 5   sales             67270 non-null  object
 6   sales-units       80724 non-null  object
dtypes: object(7)
memory usage: 4.3+ MB

### I will repeat the Same Steps with Type of Source

In [26]:
API_KEY = "WRqKD1G6pseUHWrppNQM2OHc7zz3CVdMRcOQ1Qzp"
base_url = "https://api.eia.gov/v2/electricity/electric-power-operational-data/data/"

params = {
    "api_key": API_KEY,
    "data[0]": "generation",
    "facets[fueltypeid][]": ["COL","PET","WND","SUN"],
    "start": 2005,
    "end": 2023,
    "frequency": "monthly",                      
    "length": 5000
}

all_data = []
offset = 0

while True:
    params["offset"] = offset
    r = rq.get(base_url, params=params)
    data = r.json()["response"]["data"]
    if not data:
        break
    all_data.extend(data)
    offset += 5000 

Type_df = pd.DataFrame(all_data)
print("Total rows:", len(Type_df))

Total rows: 361022

### The Data of Consumption of Type of Source

In [6]:
Type_df

,period,location,stateDescription,sectorid,sectorDescription,fueltypeid,fuelTypeDescription,generation,generation-units
0,2023-01,90,Pacific,1,Electric Utility,COL,"coal, excluding waste coal",33.93734,thousand megawatthours
1,2023-01,90,Pacific,1,Electric Utility,PET,petroleum,586.9057,thousand megawatthours
2,2023-01,90,Pacific,1,Electric Utility,SUN,solar,25.146,thousand megawatthours
3,2023-01,90,Pacific,1,Electric Utility,WND,wind,409.27376,thousand megawatthours
4,2023-01,90,Pacific,2,IPP Non-CHP,COL,"coal, excluding waste coal",442.98798,thousand megawatthours
...,...,...,...,...,...,...,...,...,...
361017,2005-01,WY,Wyoming,98,Electric Power,PET,petroleum,3.48169,thousand megawatthours
361018,2005-01,WY,Wyoming,98,Electric Power,WND,wind,68.0846,thousand megawatthours
361019,2005-01,WY,Wyoming,99,All Sectors,COL,"coal, excluding waste coal",3734.01909,thousand megawatthours
361020,2005-01,WY,Wyoming,99,All Sectors,PET,petroleum,3.59922,thousand megawatthours
361021,2005-01,WY,Wyoming,99,All Sectors,WND,wind,68.0846,thousand megawatthours

### I will get The Data of the population of each State

In [48]:
fpop_df=pd.read_excel("st-est00int-01.xls",skiprows=3,skipfooter=10)

In [49]:
fpop_df=fpop_df.drop(columns=["Unnamed: 12","Unnamed: 1"])

In [50]:
fpop_df

,Unnamed: 0,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,Unnamed: 13
0,United States,282162411,284968955,287625193,290107933,292805298,295516599,298379912,301231207,304093966,306771529,309349689
1,Northeast,53666295,53915522,54143915,54334453,54423533,54451230,54522659,54653362,54875926,55133101,55361036
2,Midwest,64491431,64776531,65018293,65276954,65532305,65751872,66028555,66293689,66523935,66748437,66975848
3,South,100565549,101849575,103150787,104380188,105883977,107479771,109076933,110688742,112184930,113548615,114865724
4,West,63439136,64427327,65312198,66116338,66965483,67833726,68751765,69595414,70509175,71341376,72147081
5,.Alabama,4452173,4467634,4480089,4503491,4530729,4569805,4628981,4672840,4718206,4757938,4785298
6,.Alaska,627963,633714,642337,648414,659286,666946,675302,680300,687455,698895,713985
7,.Arizona,5160586,5273477,5396255,5510364,5652404,5839077,6029141,6167681,6280362,6343154,6413737
8,.Arkansas,2678588,2691571,2705927,2724816,2749686,2781097,2821761,2848650,2874554,2896843,2921606
9,.California,33987977,34479458,34871843,35253159,35574576,35827943,36021202,36250311,36604337,36961229,37349363
10,.Colorado,4326921,4425687,4490406,4528732,4575013,4631888,4720423,4803868,4889730,4972195,5049071
11,.Connecticut,3411777,3432835,3458749,3484336,3496094,3506956,3517460,3527270,3545579,3561807,3577073
12,.Delaware,786373,795699,806169,818003,830803,845150,859268,871749,883874,891730,899769
13,.District of Columbia,572046,574504,573158,568502,567754,567136,570681,574404,580236,592228,604453
14,.Florida,16047515,16356966,16689370,17004085,17415318,17842038,18166990,18367842,18527305,18652644,18843326
15,.Georgia,8227303,8377038,8508256,8622793,8769252,8925922,9155813,9349988,9504843,9620846,9712587
16,.Hawaii,1213519,1225948,1239613,1251154,1273569,1292729,1309731,1315675,1332213,1346717,1363621
17,.Idaho,1299430,1319962,1340372,1363380,1391802,1428241,1468669,1505105,1534320,1554439,1571450
18,.Illinois,12434161,12488445,12525556,12556006,12589773,12609903,12643955,12695866,12747038,12796778,12843166
19,.Indiana,6091866,6127760,6155967,6196638,6233007,6278616,6332669,6379599,6424806,6459325,6490621
20,.Iowa,2929067,2931997,2934234,2941999,2953635,2964454,2982644,2999212,3016734,3032870,3049883
21,.Kansas,2693681,2702162,2713535,2723004,2734373,2745299,2762931,2783785,2808076,2832704,2859169
22,.Kentucky,4049021,4068132,4089875,4117170,4146101,4182742,4219239,4256672,4289878,4317074,4346266
23,.Louisiana,4471885,4477875,4497267,4521042,4552238,4576628,4302665,4375581,4435586,4491648,4544228
24,.Maine,1277072,1285692,1295960,1306513,1313688,1318787,1323619,1327040,1330509,1329590,1327567
25,.Maryland,5311034,5374691,5440389,5496269,5546935,5592379,5627367,5653408,5684965,5730388,5785982
26,.Massachusetts,6361104,6397634,6417206,6422565,6412281,6403290,6410084,6431559,6468967,6517613,6557254
27,.Michigan,9952450,9991120,10015710,10041152,10055315,10051137,10036081,10001284,9946889,9901591,9877574
28,.Minnesota,4933692,4982796,5018935,5053572,5087713,5119598,5163555,5207203,5247018,5281203,5310584
29,.Mississippi,2848353,2852994,2858681,2868312,2889010,2905943,2904978,2928350,2947806,2958774,2970036
30,.Missouri,5607285,5641142,5674825,5709403,5747741,5790300,5842704,5887612,5923916,5961088,5996231
31,.Montana,903773,906961,911667,919630,930009,940102,952692,964706,976415,983982,990898
32,.Nebraska,1713820,1719836,1728292,1738643,1749370,1761497,1772693,1783440,1796378,1812683,1830429
33,.Nevada,2018741,2098399,2173791,2248850,2346222,2432143,2522658,2601072,2653630,2684665,2704642
34,.New Hampshire,1239882,1255517,1269089,1279840,1290121,1298492,1308389,1312540,1315906,1316102,1316759
35,.New Jersey,8430621,8492671,8552643,8601402,8634561,8651974,8661679,8677885,8711090,8755602,8801624
36,.New Mexico,1821204,1831690,1855309,1877574,1903808,1932274,1962137,1990070,2010662,2036802,2065932
37,.New York,19001780,19082838,19137800,19175939,19171567,19132610,19104631,19132335,19212436,19307066,19392283
38,.North Carolina,8081614,8210122,8326201,8422501,8553152,8705407,8917270,9118037,9309449,9449566,9561558
39,.North Dakota,642023,639062,638168,638817,644705,646089,649422,652822,657569,664968,674499
40,.Ohio,11363543,11387404,11407889,11434788,11452251,11463320,11481213,11500468,11515391,11528896,11536182
41,.Oklahoma,3454365,3467100,3489080,3504892,3525233,3548597,3594090,3634349,3668976,3717572,3761702
42,.Oregon,3429708,3467937,3513424,3547376,3569463,3613202,3670883,3722417,3768748,3808600,3838957
43,.Pennsylvania,12284173,12298970,12331031,12374658,12410722,12449990,12510809,12563937,12612285,12666858,12709630
44,.Rhode Island,1050268,1057142,1065995,1071342,1074579,1067916,1063096,1057315,1055003,1053646,1052886
45,.South Carolina,4024223,4064995,4107795,4150297,4210921,4270150,4357847,4444110,4528996,4589872,4636312
46,.South Dakota,755844,757972,760020,763729,770396,775493,783033,791623,799124,807067,816463
47,.Tennessee,5703719,5750789,5795918,5847812,5910809,5991057,6088766,6175727,6247411,6306019,6356897
48,.Texas,20944499,21319622,21690325,22030931,22394023,22778123,23359580,23831983,24309039,24801761,25257114
49,.Utah,2244502,2283715,2324815,2360137,2401580,2457719,2525507,2597746,2663029,2723421,2776469
50,.Vermont,609618,612223,615442,617858,619920,621215,622892,623481,624151,624817,625960
51,.Virginia,7105817,7198362,7286873,7366977,7475575,7577105,7673725,7751000,7833496,7925937,8024617
52,.Washington,5910512,5985722,6052349,6104115,6178645,6257305,6370753,6461587,6562231,6667426,6744496
53,.West Virginia,1807021,1801481,1805414,1812295,1816438,1820492,1827912,1834052,1840310,1847775,1853973
54,.Wisconsin,5373999,5406835,5445162,5479203,5514026,5546166,5577655,5610775,5640996,5669264,5691047
55,.Wyoming,494300,494657,500017,503453,509106,514157,522667,534876,546043,559851,564460

In [51]:
fpop_df.columns=[ 'State',2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010]

In [52]:
fpop_df

,State,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,United States,282162411,284968955,287625193,290107933,292805298,295516599,298379912,301231207,304093966,306771529,309349689
1,Northeast,53666295,53915522,54143915,54334453,54423533,54451230,54522659,54653362,54875926,55133101,55361036
2,Midwest,64491431,64776531,65018293,65276954,65532305,65751872,66028555,66293689,66523935,66748437,66975848
3,South,100565549,101849575,103150787,104380188,105883977,107479771,109076933,110688742,112184930,113548615,114865724
4,West,63439136,64427327,65312198,66116338,66965483,67833726,68751765,69595414,70509175,71341376,72147081
5,.Alabama,4452173,4467634,4480089,4503491,4530729,4569805,4628981,4672840,4718206,4757938,4785298
6,.Alaska,627963,633714,642337,648414,659286,666946,675302,680300,687455,698895,713985
7,.Arizona,5160586,5273477,5396255,5510364,5652404,5839077,6029141,6167681,6280362,6343154,6413737
8,.Arkansas,2678588,2691571,2705927,2724816,2749686,2781097,2821761,2848650,2874554,2896843,2921606
9,.California,33987977,34479458,34871843,35253159,35574576,35827943,36021202,36250311,36604337,36961229,37349363
10,.Colorado,4326921,4425687,4490406,4528732,4575013,4631888,4720423,4803868,4889730,4972195,5049071
11,.Connecticut,3411777,3432835,3458749,3484336,3496094,3506956,3517460,3527270,3545579,3561807,3577073
12,.Delaware,786373,795699,806169,818003,830803,845150,859268,871749,883874,891730,899769
13,.District of Columbia,572046,574504,573158,568502,567754,567136,570681,574404,580236,592228,604453
14,.Florida,16047515,16356966,16689370,17004085,17415318,17842038,18166990,18367842,18527305,18652644,18843326
15,.Georgia,8227303,8377038,8508256,8622793,8769252,8925922,9155813,9349988,9504843,9620846,9712587
16,.Hawaii,1213519,1225948,1239613,1251154,1273569,1292729,1309731,1315675,1332213,1346717,1363621
17,.Idaho,1299430,1319962,1340372,1363380,1391802,1428241,1468669,1505105,1534320,1554439,1571450
18,.Illinois,12434161,12488445,12525556,12556006,12589773,12609903,12643955,12695866,12747038,12796778,12843166
19,.Indiana,6091866,6127760,6155967,6196638,6233007,6278616,6332669,6379599,6424806,6459325,6490621
20,.Iowa,2929067,2931997,2934234,2941999,2953635,2964454,2982644,2999212,3016734,3032870,3049883
21,.Kansas,2693681,2702162,2713535,2723004,2734373,2745299,2762931,2783785,2808076,2832704,2859169
22,.Kentucky,4049021,4068132,4089875,4117170,4146101,4182742,4219239,4256672,4289878,4317074,4346266
23,.Louisiana,4471885,4477875,4497267,4521042,4552238,4576628,4302665,4375581,4435586,4491648,4544228
24,.Maine,1277072,1285692,1295960,1306513,1313688,1318787,1323619,1327040,1330509,1329590,1327567
25,.Maryland,5311034,5374691,5440389,5496269,5546935,5592379,5627367,5653408,5684965,5730388,5785982
26,.Massachusetts,6361104,6397634,6417206,6422565,6412281,6403290,6410084,6431559,6468967,6517613,6557254
27,.Michigan,9952450,9991120,10015710,10041152,10055315,10051137,10036081,10001284,9946889,9901591,9877574
28,.Minnesota,4933692,4982796,5018935,5053572,5087713,5119598,5163555,5207203,5247018,5281203,5310584
29,.Mississippi,2848353,2852994,2858681,2868312,2889010,2905943,2904978,2928350,2947806,2958774,2970036
30,.Missouri,5607285,5641142,5674825,5709403,5747741,5790300,5842704,5887612,5923916,5961088,5996231
31,.Montana,903773,906961,911667,919630,930009,940102,952692,964706,976415,983982,990898
32,.Nebraska,1713820,1719836,1728292,1738643,1749370,1761497,1772693,1783440,1796378,1812683,1830429
33,.Nevada,2018741,2098399,2173791,2248850,2346222,2432143,2522658,2601072,2653630,2684665,2704642
34,.New Hampshire,1239882,1255517,1269089,1279840,1290121,1298492,1308389,1312540,1315906,1316102,1316759
35,.New Jersey,8430621,8492671,8552643,8601402,8634561,8651974,8661679,8677885,8711090,8755602,8801624
36,.New Mexico,1821204,1831690,1855309,1877574,1903808,1932274,1962137,1990070,2010662,2036802,2065932
37,.New York,19001780,19082838,19137800,19175939,19171567,19132610,19104631,19132335,19212436,19307066,19392283
38,.North Carolina,8081614,8210122,8326201,8422501,8553152,8705407,8917270,9118037,9309449,9449566,9561558
39,.North Dakota,642023,639062,638168,638817,644705,646089,649422,652822,657569,664968,674499
40,.Ohio,11363543,11387404,11407889,11434788,11452251,11463320,11481213,11500468,11515391,11528896,11536182
41,.Oklahoma,3454365,3467100,3489080,3504892,3525233,3548597,3594090,3634349,3668976,3717572,3761702
42,.Oregon,3429708,3467937,3513424,3547376,3569463,3613202,3670883,3722417,3768748,3808600,3838957
43,.Pennsylvania,12284173,12298970,12331031,12374658,12410722,12449990,12510809,12563937,12612285,12666858,12709630
44,.Rhode Island,1050268,1057142,1065995,1071342,1074579,1067916,1063096,1057315,1055003,1053646,1052886
45,.South Carolina,4024223,4064995,4107795,4150297,4210921,4270150,4357847,4444110,4528996,4589872,4636312
46,.South Dakota,755844,757972,760020,763729,770396,775493,783033,791623,799124,807067,816463
47,.Tennessee,5703719,5750789,5795918,5847812,5910809,5991057,6088766,6175727,6247411,6306019,6356897
48,.Texas,20944499,21319622,21690325,22030931,22394023,22778123,23359580,23831983,24309039,24801761,25257114
49,.Utah,2244502,2283715,2324815,2360137,2401580,2457719,2525507,2597746,2663029,2723421,2776469
50,.Vermont,609618,612223,615442,617858,619920,621215,622892,623481,624151,624817,625960
51,.Virginia,7105817,7198362,7286873,7366977,7475575,7577105,7673725,7751000,7833496,7925937,8024617
52,.Washington,5910512,5985722,6052349,6104115,6178645,6257305,6370753,6461587,6562231,6667426,6744496
53,.West Virginia,1807021,1801481,1805414,1812295,1816438,1820492,1827912,1834052,1840310,1847775,1853973
54,.Wisconsin,5373999,5406835,5445162,5479203,5514026,5546166,5577655,5610775,5640996,5669264,5691047
55,.Wyoming,494300,494657,500017,503453,509106,514157,522667,534876,546043,559851,564460

In [53]:
fpop_df=fpop_df.drop(columns=[2000,2001,2002,2003,2004])

In [54]:
fpop_df

,State,2005,2006,2007,2008,2009,2010
0,United States,295516599,298379912,301231207,304093966,306771529,309349689
1,Northeast,54451230,54522659,54653362,54875926,55133101,55361036
2,Midwest,65751872,66028555,66293689,66523935,66748437,66975848
3,South,107479771,109076933,110688742,112184930,113548615,114865724
4,West,67833726,68751765,69595414,70509175,71341376,72147081
5,.Alabama,4569805,4628981,4672840,4718206,4757938,4785298
6,.Alaska,666946,675302,680300,687455,698895,713985
7,.Arizona,5839077,6029141,6167681,6280362,6343154,6413737
8,.Arkansas,2781097,2821761,2848650,2874554,2896843,2921606
9,.California,35827943,36021202,36250311,36604337,36961229,37349363
10,.Colorado,4631888,4720423,4803868,4889730,4972195,5049071
11,.Connecticut,3506956,3517460,3527270,3545579,3561807,3577073
12,.Delaware,845150,859268,871749,883874,891730,899769
13,.District of Columbia,567136,570681,574404,580236,592228,604453
14,.Florida,17842038,18166990,18367842,18527305,18652644,18843326
15,.Georgia,8925922,9155813,9349988,9504843,9620846,9712587
16,.Hawaii,1292729,1309731,1315675,1332213,1346717,1363621
17,.Idaho,1428241,1468669,1505105,1534320,1554439,1571450
18,.Illinois,12609903,12643955,12695866,12747038,12796778,12843166
19,.Indiana,6278616,6332669,6379599,6424806,6459325,6490621
20,.Iowa,2964454,2982644,2999212,3016734,3032870,3049883
21,.Kansas,2745299,2762931,2783785,2808076,2832704,2859169
22,.Kentucky,4182742,4219239,4256672,4289878,4317074,4346266
23,.Louisiana,4576628,4302665,4375581,4435586,4491648,4544228
24,.Maine,1318787,1323619,1327040,1330509,1329590,1327567
25,.Maryland,5592379,5627367,5653408,5684965,5730388,5785982
26,.Massachusetts,6403290,6410084,6431559,6468967,6517613,6557254
27,.Michigan,10051137,10036081,10001284,9946889,9901591,9877574
28,.Minnesota,5119598,5163555,5207203,5247018,5281203,5310584
29,.Mississippi,2905943,2904978,2928350,2947806,2958774,2970036
30,.Missouri,5790300,5842704,5887612,5923916,5961088,5996231
31,.Montana,940102,952692,964706,976415,983982,990898
32,.Nebraska,1761497,1772693,1783440,1796378,1812683,1830429
33,.Nevada,2432143,2522658,2601072,2653630,2684665,2704642
34,.New Hampshire,1298492,1308389,1312540,1315906,1316102,1316759
35,.New Jersey,8651974,8661679,8677885,8711090,8755602,8801624
36,.New Mexico,1932274,1962137,1990070,2010662,2036802,2065932
37,.New York,19132610,19104631,19132335,19212436,19307066,19392283
38,.North Carolina,8705407,8917270,9118037,9309449,9449566,9561558
39,.North Dakota,646089,649422,652822,657569,664968,674499
40,.Ohio,11463320,11481213,11500468,11515391,11528896,11536182
41,.Oklahoma,3548597,3594090,3634349,3668976,3717572,3761702
42,.Oregon,3613202,3670883,3722417,3768748,3808600,3838957
43,.Pennsylvania,12449990,12510809,12563937,12612285,12666858,12709630
44,.Rhode Island,1067916,1063096,1057315,1055003,1053646,1052886
45,.South Carolina,4270150,4357847,4444110,4528996,4589872,4636312
46,.South Dakota,775493,783033,791623,799124,807067,816463
47,.Tennessee,5991057,6088766,6175727,6247411,6306019,6356897
48,.Texas,22778123,23359580,23831983,24309039,24801761,25257114
49,.Utah,2457719,2525507,2597746,2663029,2723421,2776469
50,.Vermont,621215,622892,623481,624151,624817,625960
51,.Virginia,7577105,7673725,7751000,7833496,7925937,8024617
52,.Washington,6257305,6370753,6461587,6562231,6667426,6744496
53,.West Virginia,1820492,1827912,1834052,1840310,1847775,1853973
54,.Wisconsin,5546166,5577655,5610775,5640996,5669264,5691047
55,.Wyoming,514157,522667,534876,546043,559851,564460

In [85]:
spop_df=pd.read_excel("nst-est2020.xlsx",skiprows=3,skipfooter=8)

In [86]:
spop_df

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,April 1,July 1
0,United States,308745538,308758105,309327143,311583481,313877662,316059947,318386329,320738994,323071755,325122128,326838199,328329953,329398742,329484123
1,Northeast,55317240,55318414,55380764,55608318,55782661,55912775,56021339,56052790,56063777,56083383,56084543,56002934,55924275,55849869
2,Midwest,66927001,66929737,66975328,67164092,67348275,67576524,67765576,67885682,68018175,68160342,68263019,68340091,68357895,68316744
3,South,114555744,114563042,114869421,116019483,117264196,118397213,119666248,121049223,122419547,123611036,124649156,125686544,126494232,126662754
4,West,71945553,71946912,72101630,72791588,73482530,74173435,74933166,75751299,76570256,77267367,77841481,78300384,78622340,78654756
5,.Alabama,4779736,4780118,4785514,4799642,4816632,4831586,4843737,4854803,4866824,4877989,4891628,4907965,4920706,4921532
6,.Alaska,710231,710246,713982,722349,730810,737626,737075,738430,742575,740983,736624,733603,732074,731158
7,.Arizona,6392017,6392292,6407342,6473416,6556344,6634690,6732873,6832810,6944767,7048088,7164228,7291843,7393900,7421401
8,.Arkansas,2915918,2916029,2921998,2941038,2952876,2960459,2968759,2979732,2991815,3003855,3012161,3020985,3029672,3030522
9,.California,37253956,37254522,37319550,37636311,37944551,38253768,38586706,38904296,39149186,39337785,39437463,39437610,39418894,39368078
10,.Colorado,5029196,5029319,5047539,5121900,5193660,5270774,5352637,5454328,5543844,5617421,5697155,5758486,5798266,5807719
11,.Connecticut,3574097,3574151,3579173,3588632,3595211,3595792,3595697,3588561,3579830,3575324,3574561,3566022,3561494,3557006
12,.Delaware,897934,897947,899647,907590,915518,924062,933131,942065,949989,957942,966985,976668,984899,986809
13,.District of Columbia,601723,601767,605282,620290,635737,651559,663603,677014,687576,697079,704147,708253,712185,712816
14,.Florida,18801310,18804589,18846143,19055607,19302016,19551678,19853880,20219111,20627237,20977089,21254926,21492056,21688239,21733312
15,.Georgia,9687653,9688737,9712209,9803630,9903580,9975592,10071204,10183353,10308442,10417031,10519389,10628020,10695662,10710017
16,.Hawaii,1360301,1360304,1364004,1379562,1395199,1408822,1415335,1422999,1428885,1425763,1423102,1415615,1410587,1407006
17,.Idaho,1567582,1567658,1570819,1584272,1595910,1612053,1632248,1652495,1684036,1719745,1752074,1789060,1818238,1826913
18,.Illinois,12830632,12831572,12840545,12867783,12883029,12895778,12885092,12859585,12821709,12779893,12724685,12667017,12615162,12587530
19,.Indiana,6483802,6484050,6490555,6517250,6538989,6570575,6596019,6611442,6637898,6662068,6698481,6731010,6752183,6754953
20,.Iowa,3046355,3046877,3050819,3066772,3076844,3093935,3110643,3122541,3133210,3143734,3149900,3159596,3164115,3163561
21,.Kansas,2853118,2853120,2858266,2869677,2886024,2894306,2901861,2910717,2912977,2910892,2912748,2912635,2915024,2913805
22,.Kentucky,4339367,4339330,4348464,4370817,4387865,4406906,4416992,4429126,4440306,4455590,4464273,4472345,4477899,4477251
23,.Louisiana,4533372,4533500,4544635,4576244,4602067,4626040,4645938,4666998,4681346,4673673,4664450,4658285,4650984,4645318
24,.Maine,1328361,1328354,1327651,1328473,1328094,1328543,1331217,1329098,1332348,1335743,1340123,1345770,1349647,1350141
25,.Maryland,5773552,5773787,5788784,5840241,5888375,5925197,5960064,5988528,6007014,6028186,6042153,6054954,6059529,6055802
26,.Massachusetts,6547629,6547788,6566440,6614218,6664269,6715158,6764864,6797484,6827280,6863560,6885720,6894883,6898116,6893574
27,.Michigan,9883640,9884112,9877597,9883053,9898289,9914802,9932033,9934483,9954117,9976752,9987286,9984795,9976330,9966555
28,.Minnesota,5303925,5303933,5310934,5346620,5377500,5414722,5452665,5484002,5525360,5569283,5608762,5640053,5655855,5657342
29,.Mississippi,2967297,2968129,2970615,2979147,2984599,2989839,2991892,2990231,2990595,2990674,2982879,2978227,2971253,2966786
30,.Missouri,5988927,5988941,5996089,6011182,6026027,6042989,6059130,6075411,6091384,6111382,6125986,6140475,6151737,6151548
31,.Montana,989415,989400,990730,997518,1004168,1014158,1022657,1031495,1042137,1053862,1061818,1070123,1078405,1080577
32,.Nebraska,1826341,1826311,1829591,1840914,1853691,1865813,1879955,1892059,1906483,1916998,1925512,1932571,1937258,1937552
33,.Nevada,2700551,2700683,2702483,2713114,2744670,2776956,2818935,2868531,2919555,2972097,3030725,3090771,3128500,3138259
34,.New Hampshire,1316470,1316457,1316807,1320444,1324677,1327272,1334257,1337480,1343694,1350395,1355064,1360783,1365533,1366275
35,.New Jersey,8791894,8791959,8799451,8828552,8845671,8857821,8867277,8870312,8873584,8888147,8891730,8891258,8890883,8882371
36,.New Mexico,2059179,2059199,2064614,2080707,2087715,2092833,2090236,2090071,2092555,2092844,2093754,2099634,2106117,2106319
37,.New York,19378102,19378117,19399956,19499921,19574362,19626488,19653431,19657321,19636391,19593849,19544098,19463131,19382373,19336776
38,.North Carolina,9535483,9535762,9574586,9658913,9751810,9846717,9937295,10037218,10161802,10275758,10391358,10501384,10581885,10600823
39,.North Dakota,672591,672575,674752,685526,702227,723149,738736,755537,756114,756755,760062,763724,765224,765309
40,.Ohio,11536504,11536763,11539449,11545735,11550971,11579692,11606573,11622315,11640060,11665706,11680892,11696507,11699855,11693217
41,.Oklahoma,3751351,3751582,3760014,3788824,3819320,3853891,3879187,3910518,3928143,3933602,3943488,3960676,3977682,3980783
42,.Oregon,3831074,3831083,3837614,3872672,3900102,3924110,3965447,4018542,4093271,4147294,4183538,4216116,4237408,4241507
43,.Pennsylvania,12702379,12702891,12711406,12747052,12769123,12779538,12792392,12789838,12788468,12794679,12809107,12798883,12794404,12783254
44,.Rhode Island,1052567,1052970,1053994,1053829,1054893,1055560,1056511,1056886,1057816,1056554,1059338,1058158,1058004,1057125
45,.South Carolina,4625364,4625358,4635846,4672655,4719027,4766469,4826858,4896006,4963031,5027102,5091702,5157702,5205864,5218040
46,.South Dakota,814180,814198,816193,823740,833859,842751,849670,854663,863693,873732,879386,887127,891688,892717
47,.Tennessee,6346105,6346281,6355518,6400298,6455752,6496943,6544617,6595354,6651277,6714748,6778180,6830325,6875939,6886834
48,.Texas,25145561,25146072,25241897,25645504,26084120,26479646,26963092,27468531,27914064,28291024,28624564,28986794,29286467,29360759
49,.Utah,2763885,2763891,2775413,2814797,2854146,2898773,2938327,2983626,3044241,3103540,3155153,3203383,3239542,3249879
50,.Vermont,625741,625727,625886,627197,626361,626603,625693,625810,624366,625132,624802,624046,623821,623347
51,.Virginia,8001024,8001046,8024004,8102437,8187456,8255861,8315430,8367303,8417651,8471011,8510920,8556642,8587217,8590563
52,.Washington,6724540,6724540,6743009,6827479,6898599,6966252,7057531,7167287,7299961,7427951,7526793,7614024,7678379,7693612
53,.West Virginia,1852994,1853008,1854265,1856606,1857446,1854768,1850569,1843332,1832435,1818683,1805953,1795263,1788150,1784787
54,.Wisconsin,5686986,5687285,5690538,5705840,5720825,5738012,5753199,5762927,5775170,5793147,5809319,5824581,5833464,5832655
55,.Wyoming,563626,563775,564531,567491,576656,582620,583159,586389,585243,579994,579054,580116,582030,582328

In [87]:
spop_df=spop_df.drop(columns=["Census","Estimates Base","April 1",2010])

In [88]:
spop_df

,Unnamed: 0,2011,2012,2013,2014,2015,2016,2017,2018,2019,July 1
0,United States,311583481,313877662,316059947,318386329,320738994,323071755,325122128,326838199,328329953,329484123
1,Northeast,55608318,55782661,55912775,56021339,56052790,56063777,56083383,56084543,56002934,55849869
2,Midwest,67164092,67348275,67576524,67765576,67885682,68018175,68160342,68263019,68340091,68316744
3,South,116019483,117264196,118397213,119666248,121049223,122419547,123611036,124649156,125686544,126662754
4,West,72791588,73482530,74173435,74933166,75751299,76570256,77267367,77841481,78300384,78654756
5,.Alabama,4799642,4816632,4831586,4843737,4854803,4866824,4877989,4891628,4907965,4921532
6,.Alaska,722349,730810,737626,737075,738430,742575,740983,736624,733603,731158
7,.Arizona,6473416,6556344,6634690,6732873,6832810,6944767,7048088,7164228,7291843,7421401
8,.Arkansas,2941038,2952876,2960459,2968759,2979732,2991815,3003855,3012161,3020985,3030522
9,.California,37636311,37944551,38253768,38586706,38904296,39149186,39337785,39437463,39437610,39368078
10,.Colorado,5121900,5193660,5270774,5352637,5454328,5543844,5617421,5697155,5758486,5807719
11,.Connecticut,3588632,3595211,3595792,3595697,3588561,3579830,3575324,3574561,3566022,3557006
12,.Delaware,907590,915518,924062,933131,942065,949989,957942,966985,976668,986809
13,.District of Columbia,620290,635737,651559,663603,677014,687576,697079,704147,708253,712816
14,.Florida,19055607,19302016,19551678,19853880,20219111,20627237,20977089,21254926,21492056,21733312
15,.Georgia,9803630,9903580,9975592,10071204,10183353,10308442,10417031,10519389,10628020,10710017
16,.Hawaii,1379562,1395199,1408822,1415335,1422999,1428885,1425763,1423102,1415615,1407006
17,.Idaho,1584272,1595910,1612053,1632248,1652495,1684036,1719745,1752074,1789060,1826913
18,.Illinois,12867783,12883029,12895778,12885092,12859585,12821709,12779893,12724685,12667017,12587530
19,.Indiana,6517250,6538989,6570575,6596019,6611442,6637898,6662068,6698481,6731010,6754953
20,.Iowa,3066772,3076844,3093935,3110643,3122541,3133210,3143734,3149900,3159596,3163561
21,.Kansas,2869677,2886024,2894306,2901861,2910717,2912977,2910892,2912748,2912635,2913805
22,.Kentucky,4370817,4387865,4406906,4416992,4429126,4440306,4455590,4464273,4472345,4477251
23,.Louisiana,4576244,4602067,4626040,4645938,4666998,4681346,4673673,4664450,4658285,4645318
24,.Maine,1328473,1328094,1328543,1331217,1329098,1332348,1335743,1340123,1345770,1350141
25,.Maryland,5840241,5888375,5925197,5960064,5988528,6007014,6028186,6042153,6054954,6055802
26,.Massachusetts,6614218,6664269,6715158,6764864,6797484,6827280,6863560,6885720,6894883,6893574
27,.Michigan,9883053,9898289,9914802,9932033,9934483,9954117,9976752,9987286,9984795,9966555
28,.Minnesota,5346620,5377500,5414722,5452665,5484002,5525360,5569283,5608762,5640053,5657342
29,.Mississippi,2979147,2984599,2989839,2991892,2990231,2990595,2990674,2982879,2978227,2966786
30,.Missouri,6011182,6026027,6042989,6059130,6075411,6091384,6111382,6125986,6140475,6151548
31,.Montana,997518,1004168,1014158,1022657,1031495,1042137,1053862,1061818,1070123,1080577
32,.Nebraska,1840914,1853691,1865813,1879955,1892059,1906483,1916998,1925512,1932571,1937552
33,.Nevada,2713114,2744670,2776956,2818935,2868531,2919555,2972097,3030725,3090771,3138259
34,.New Hampshire,1320444,1324677,1327272,1334257,1337480,1343694,1350395,1355064,1360783,1366275
35,.New Jersey,8828552,8845671,8857821,8867277,8870312,8873584,8888147,8891730,8891258,8882371
36,.New Mexico,2080707,2087715,2092833,2090236,2090071,2092555,2092844,2093754,2099634,2106319
37,.New York,19499921,19574362,19626488,19653431,19657321,19636391,19593849,19544098,19463131,19336776
38,.North Carolina,9658913,9751810,9846717,9937295,10037218,10161802,10275758,10391358,10501384,10600823
39,.North Dakota,685526,702227,723149,738736,755537,756114,756755,760062,763724,765309
40,.Ohio,11545735,11550971,11579692,11606573,11622315,11640060,11665706,11680892,11696507,11693217
41,.Oklahoma,3788824,3819320,3853891,3879187,3910518,3928143,3933602,3943488,3960676,3980783
42,.Oregon,3872672,3900102,3924110,3965447,4018542,4093271,4147294,4183538,4216116,4241507
43,.Pennsylvania,12747052,12769123,12779538,12792392,12789838,12788468,12794679,12809107,12798883,12783254
44,.Rhode Island,1053829,1054893,1055560,1056511,1056886,1057816,1056554,1059338,1058158,1057125
45,.South Carolina,4672655,4719027,4766469,4826858,4896006,4963031,5027102,5091702,5157702,5218040
46,.South Dakota,823740,833859,842751,849670,854663,863693,873732,879386,887127,892717
47,.Tennessee,6400298,6455752,6496943,6544617,6595354,6651277,6714748,6778180,6830325,6886834
48,.Texas,25645504,26084120,26479646,26963092,27468531,27914064,28291024,28624564,28986794,29360759
49,.Utah,2814797,2854146,2898773,2938327,2983626,3044241,3103540,3155153,3203383,3249879
50,.Vermont,627197,626361,626603,625693,625810,624366,625132,624802,624046,623347
51,.Virginia,8102437,8187456,8255861,8315430,8367303,8417651,8471011,8510920,8556642,8590563
52,.Washington,6827479,6898599,6966252,7057531,7167287,7299961,7427951,7526793,7614024,7693612
53,.West Virginia,1856606,1857446,1854768,1850569,1843332,1832435,1818683,1805953,1795263,1784787
54,.Wisconsin,5705840,5720825,5738012,5753199,5762927,5775170,5793147,5809319,5824581,5832655
55,.Wyoming,567491,576656,582620,583159,586389,585243,579994,579054,580116,582328

In [89]:
spop_df.columns=[ 'State',2011,2012,2013,2014,2015,2016,2017,2018,2019,2020]

In [90]:
spop_df

,State,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,United States,311583481,313877662,316059947,318386329,320738994,323071755,325122128,326838199,328329953,329484123
1,Northeast,55608318,55782661,55912775,56021339,56052790,56063777,56083383,56084543,56002934,55849869
2,Midwest,67164092,67348275,67576524,67765576,67885682,68018175,68160342,68263019,68340091,68316744
3,South,116019483,117264196,118397213,119666248,121049223,122419547,123611036,124649156,125686544,126662754
4,West,72791588,73482530,74173435,74933166,75751299,76570256,77267367,77841481,78300384,78654756
5,.Alabama,4799642,4816632,4831586,4843737,4854803,4866824,4877989,4891628,4907965,4921532
6,.Alaska,722349,730810,737626,737075,738430,742575,740983,736624,733603,731158
7,.Arizona,6473416,6556344,6634690,6732873,6832810,6944767,7048088,7164228,7291843,7421401
8,.Arkansas,2941038,2952876,2960459,2968759,2979732,2991815,3003855,3012161,3020985,3030522
9,.California,37636311,37944551,38253768,38586706,38904296,39149186,39337785,39437463,39437610,39368078
10,.Colorado,5121900,5193660,5270774,5352637,5454328,5543844,5617421,5697155,5758486,5807719
11,.Connecticut,3588632,3595211,3595792,3595697,3588561,3579830,3575324,3574561,3566022,3557006
12,.Delaware,907590,915518,924062,933131,942065,949989,957942,966985,976668,986809
13,.District of Columbia,620290,635737,651559,663603,677014,687576,697079,704147,708253,712816
14,.Florida,19055607,19302016,19551678,19853880,20219111,20627237,20977089,21254926,21492056,21733312
15,.Georgia,9803630,9903580,9975592,10071204,10183353,10308442,10417031,10519389,10628020,10710017
16,.Hawaii,1379562,1395199,1408822,1415335,1422999,1428885,1425763,1423102,1415615,1407006
17,.Idaho,1584272,1595910,1612053,1632248,1652495,1684036,1719745,1752074,1789060,1826913
18,.Illinois,12867783,12883029,12895778,12885092,12859585,12821709,12779893,12724685,12667017,12587530
19,.Indiana,6517250,6538989,6570575,6596019,6611442,6637898,6662068,6698481,6731010,6754953
20,.Iowa,3066772,3076844,3093935,3110643,3122541,3133210,3143734,3149900,3159596,3163561
21,.Kansas,2869677,2886024,2894306,2901861,2910717,2912977,2910892,2912748,2912635,2913805
22,.Kentucky,4370817,4387865,4406906,4416992,4429126,4440306,4455590,4464273,4472345,4477251
23,.Louisiana,4576244,4602067,4626040,4645938,4666998,4681346,4673673,4664450,4658285,4645318
24,.Maine,1328473,1328094,1328543,1331217,1329098,1332348,1335743,1340123,1345770,1350141
25,.Maryland,5840241,5888375,5925197,5960064,5988528,6007014,6028186,6042153,6054954,6055802
26,.Massachusetts,6614218,6664269,6715158,6764864,6797484,6827280,6863560,6885720,6894883,6893574
27,.Michigan,9883053,9898289,9914802,9932033,9934483,9954117,9976752,9987286,9984795,9966555
28,.Minnesota,5346620,5377500,5414722,5452665,5484002,5525360,5569283,5608762,5640053,5657342
29,.Mississippi,2979147,2984599,2989839,2991892,2990231,2990595,2990674,2982879,2978227,2966786
30,.Missouri,6011182,6026027,6042989,6059130,6075411,6091384,6111382,6125986,6140475,6151548
31,.Montana,997518,1004168,1014158,1022657,1031495,1042137,1053862,1061818,1070123,1080577
32,.Nebraska,1840914,1853691,1865813,1879955,1892059,1906483,1916998,1925512,1932571,1937552
33,.Nevada,2713114,2744670,2776956,2818935,2868531,2919555,2972097,3030725,3090771,3138259
34,.New Hampshire,1320444,1324677,1327272,1334257,1337480,1343694,1350395,1355064,1360783,1366275
35,.New Jersey,8828552,8845671,8857821,8867277,8870312,8873584,8888147,8891730,8891258,8882371
36,.New Mexico,2080707,2087715,2092833,2090236,2090071,2092555,2092844,2093754,2099634,2106319
37,.New York,19499921,19574362,19626488,19653431,19657321,19636391,19593849,19544098,19463131,19336776
38,.North Carolina,9658913,9751810,9846717,9937295,10037218,10161802,10275758,10391358,10501384,10600823
39,.North Dakota,685526,702227,723149,738736,755537,756114,756755,760062,763724,765309
40,.Ohio,11545735,11550971,11579692,11606573,11622315,11640060,11665706,11680892,11696507,11693217
41,.Oklahoma,3788824,3819320,3853891,3879187,3910518,3928143,3933602,3943488,3960676,3980783
42,.Oregon,3872672,3900102,3924110,3965447,4018542,4093271,4147294,4183538,4216116,4241507
43,.Pennsylvania,12747052,12769123,12779538,12792392,12789838,12788468,12794679,12809107,12798883,12783254
44,.Rhode Island,1053829,1054893,1055560,1056511,1056886,1057816,1056554,1059338,1058158,1057125
45,.South Carolina,4672655,4719027,4766469,4826858,4896006,4963031,5027102,5091702,5157702,5218040
46,.South Dakota,823740,833859,842751,849670,854663,863693,873732,879386,887127,892717
47,.Tennessee,6400298,6455752,6496943,6544617,6595354,6651277,6714748,6778180,6830325,6886834
48,.Texas,25645504,26084120,26479646,26963092,27468531,27914064,28291024,28624564,28986794,29360759
49,.Utah,2814797,2854146,2898773,2938327,2983626,3044241,3103540,3155153,3203383,3249879
50,.Vermont,627197,626361,626603,625693,625810,624366,625132,624802,624046,623347
51,.Virginia,8102437,8187456,8255861,8315430,8367303,8417651,8471011,8510920,8556642,8590563
52,.Washington,6827479,6898599,6966252,7057531,7167287,7299961,7427951,7526793,7614024,7693612
53,.West Virginia,1856606,1857446,1854768,1850569,1843332,1832435,1818683,1805953,1795263,1784787
54,.Wisconsin,5705840,5720825,5738012,5753199,5762927,5775170,5793147,5809319,5824581,5832655
55,.Wyoming,567491,576656,582620,583159,586389,585243,579994,579054,580116,582328

In [102]:
tpop_df=pd.read_excel("NST-EST2024-POP.xlsx",skiprows=3,skipfooter=8)

In [103]:
tpop_df

,Unnamed: 0,Unnamed: 1,2020,2021,2022,2023,2024
0,United States,331515736,331577720,332099760,334017321,336806231,340110988
1,Northeast,57617706,57431458,57252533,57159597,57398303,57832935
2,Midwest,68998970,68984258,68872831,68903297,69186401,69596584
3,South,126281537,126476549,127368010,129037849,130893358,132665693
4,West,78617523,78685455,78606386,78916578,79328169,80015776
5,.Alabama,5025369,5033094,5049196,5076181,5117673,5157699
6,.Alaska,733395,733017,734420,734442,736510,740133
7,.Arizona,7158110,7187135,7274078,7377566,7473027,7582384
8,.Arkansas,3011553,3014546,3026870,3047704,3069463,3088354
9,.California,39555674,39521958,39142565,39142414,39198693,39431263
10,.Colorado,5775324,5787129,5814036,5850935,5901339,5957493
11,.Connecticut,3607701,3579918,3606607,3617925,3643023,3675069
12,.Delaware,989955,991928,1005062,1020625,1036423,1051917
13,.District of Columbia,689545,670917,669256,676725,687324,702250
14,.Florida,21538192,21592035,21831949,22379312,22904868,23372215
15,.Georgia,10713755,10732888,10792060,10931805,11064432,11180878
16,.Hawaii,1455252,1451252,1447029,1440359,1441387,1446146
17,.Idaho,1839140,1849415,1904848,1944299,1971122,2001619
18,.Illinois,12821814,12799088,12700641,12621821,12642259,12710158
19,.Indiana,6786587,6790497,6815907,6844545,6880131,6924275
20,.Iowa,3190546,3191141,3198613,3202820,3218414,3241488
21,.Kansas,2937745,2938172,2938338,2937324,2951500,2970606
22,.Kentucky,4506302,4508318,4507583,4519233,4550595,4588372
23,.Louisiana,4657874,4652301,4627971,4593687,4588071,4597740
24,.Maine,1363196,1364571,1378931,1390922,1399646,1405012
25,.Maryland,6181629,6177935,6179403,6192440,6217062,6263220
26,.Massachusetts,7033132,6994598,7000474,7022468,7066568,7136171
27,.Michigan,10079338,10072703,10041351,10050877,10083356,10140459
28,.Minnesota,5706692,5710735,5718660,5721621,5753048,5793151
29,.Mississippi,2961278,2958536,2947209,2941939,2943172,2943045
30,.Missouri,6154854,6154744,6171374,6179414,6208038,6245466
31,.Montana,1084216,1087230,1106522,1122095,1131302,1137233
32,.Nebraska,1961996,1963387,1964537,1972246,1987864,2005465
33,.Nevada,3105595,3116967,3148141,3176116,3214363,3267467
34,.New Hampshire,1377546,1378756,1387677,1396678,1402199,1409032
35,.New Jersey,9289014,9272794,9270541,9295227,9379642,9500851
36,.New Mexico,2117555,2118606,2117333,2113868,2121164,2130256
37,.New York,20203772,20105171,19848276,19703747,19737367,19867248
38,.North Carolina,10441499,10449652,10564320,10710793,10881189,11046024
39,.North Dakota,779046,779563,777966,781057,789047,796568
40,.Ohio,11799453,11798905,11767344,11777874,11824034,11883304
41,.Oklahoma,3959405,3965415,3992238,4026229,4063882,4095393
42,.Oregon,4237224,4243779,4254280,4247372,4253653,4272371
43,.Pennsylvania,13002909,12996143,13015571,12984990,13017721,13078751
44,.Rhode Island,1097354,1096530,1097246,1099498,1103429,1112308
45,.South Carolina,5118252,5132249,5194274,5287935,5387830,5478831
46,.South Dakota,886729,887948,896492,909723,918305,924669
47,.Tennessee,6912347,6927904,6965740,7062217,7148304,7227750
48,.Texas,29149458,29239570,29570351,30113488,30727890,31290831
49,.Utah,3271608,3284077,3339738,3391011,3443222,3503613
50,.Vermont,643082,642977,647210,648142,648708,648493
51,.Virginia,8631388,8637615,8658910,8683414,8734685,8811195
52,.Washington,7707586,7727209,7743760,7794123,7857320,7958180
53,.West Virginia,1793736,1791646,1785618,1774122,1770495,1769979
54,.Wisconsin,5894170,5897375,5881608,5903975,5930405,5960975
55,.Wyoming,576844,577681,579636,581978,585067,587618

In [104]:
tpop_df=tpop_df.drop(columns=["Unnamed: 1",2020])

In [105]:
tpop_df

               Unnamed: 0       2021       2022       2023       2024
0           United States  332099760  334017321  336806231  340110988
1               Northeast   57252533   57159597   57398303   57832935
2                 Midwest   68872831   68903297   69186401   69596584
3                   South  127368010  129037849  130893358  132665693
4                    West   78606386   78916578   79328169   80015776
5                .Alabama    5049196    5076181    5117673    5157699
6                 .Alaska     734420     734442     736510     740133
7                .Arizona    7274078    7377566    7473027    7582384
8               .Arkansas    3026870    3047704    3069463    3088354
9             .California   39142565   39142414   39198693   39431263
10              .Colorado    5814036    5850935    5901339    5957493
11           .Connecticut    3606607    3617925    3643023    3675069
12              .Delaware    1005062    1020625    1036423    1051917
13  .District of Columbia     669256     676725     687324     702250
14               .Florida   21831949   22379312   22904868   23372215
15               .Georgia   10792060   10931805   11064432   11180878
16                .Hawaii    1447029    1440359    1441387    1446146
17                 .Idaho    1904848    1944299    1971122    2001619
18              .Illinois   12700641   12621821   12642259   12710158
19               .Indiana    6815907    6844545    6880131    6924275
20                  .Iowa    3198613    3202820    3218414    3241488
21                .Kansas    2938338    2937324    2951500    2970606
22              .Kentucky    4507583    4519233    4550595    4588372
23             .Louisiana    4627971    4593687    4588071    4597740
24                 .Maine    1378931    1390922    1399646    1405012
25              .Maryland    6179403    6192440    6217062    6263220
26         .Massachusetts    7000474    7022468    7066568    7136171
27              .Michigan   10041351   10050877   10083356   10140459
28             .Minnesota    5718660    5721621    5753048    5793151
29           .Mississippi    2947209    2941939    2943172    2943045
30              .Missouri    6171374    6179414    6208038    6245466
31               .Montana    1106522    1122095    1131302    1137233
32              .Nebraska    1964537    1972246    1987864    2005465
33                .Nevada    3148141    3176116    3214363    3267467
34         .New Hampshire    1387677    1396678    1402199    1409032
35            .New Jersey    9270541    9295227    9379642    9500851
36            .New Mexico    2117333    2113868    2121164    2130256
37              .New York   19848276   19703747   19737367   19867248
38        .North Carolina   10564320   10710793   10881189   11046024
39          .North Dakota     777966     781057     789047     796568
40                  .Ohio   11767344   11777874   11824034   11883304
41              .Oklahoma    3992238    4026229    4063882    4095393
42                .Oregon    4254280    4247372    4253653    4272371
43          .Pennsylvania   13015571   12984990   13017721   13078751
44          .Rhode Island    1097246    1099498    1103429    1112308
45        .South Carolina    5194274    5287935    5387830    5478831
46          .South Dakota     896492     909723     918305     924669
47             .Tennessee    6965740    7062217    7148304    7227750
48                 .Texas   29570351   30113488   30727890   31290831
49                  .Utah    3339738    3391011    3443222    3503613
50               .Vermont     647210     648142     648708     648493
51              .Virginia    8658910    8683414    8734685    8811195
52            .Washington    7743760    7794123    7857320    7958180
53         .West Virginia    1785618    1774122    1770495    1769979
54             .Wisconsin    5881608    5903975    5930405    5960975
55               .Wyoming     579636     581978     585067     587618

In [106]:
tpop_df.columns=['State',2021,2022,2023,2024]

In [107]:
tpop_df

                    State       2021       2022       2023       2024
0           United States  332099760  334017321  336806231  340110988
1               Northeast   57252533   57159597   57398303   57832935
2                 Midwest   68872831   68903297   69186401   69596584
3                   South  127368010  129037849  130893358  132665693
4                    West   78606386   78916578   79328169   80015776
5                .Alabama    5049196    5076181    5117673    5157699
6                 .Alaska     734420     734442     736510     740133
7                .Arizona    7274078    7377566    7473027    7582384
8               .Arkansas    3026870    3047704    3069463    3088354
9             .California   39142565   39142414   39198693   39431263
10              .Colorado    5814036    5850935    5901339    5957493
11           .Connecticut    3606607    3617925    3643023    3675069
12              .Delaware    1005062    1020625    1036423    1051917
13  .District of Columbia     669256     676725     687324     702250
14               .Florida   21831949   22379312   22904868   23372215
15               .Georgia   10792060   10931805   11064432   11180878
16                .Hawaii    1447029    1440359    1441387    1446146
17                 .Idaho    1904848    1944299    1971122    2001619
18              .Illinois   12700641   12621821   12642259   12710158
19               .Indiana    6815907    6844545    6880131    6924275
20                  .Iowa    3198613    3202820    3218414    3241488
21                .Kansas    2938338    2937324    2951500    2970606
22              .Kentucky    4507583    4519233    4550595    4588372
23             .Louisiana    4627971    4593687    4588071    4597740
24                 .Maine    1378931    1390922    1399646    1405012
25              .Maryland    6179403    6192440    6217062    6263220
26         .Massachusetts    7000474    7022468    7066568    7136171
27              .Michigan   10041351   10050877   10083356   10140459
28             .Minnesota    5718660    5721621    5753048    5793151
29           .Mississippi    2947209    2941939    2943172    2943045
30              .Missouri    6171374    6179414    6208038    6245466
31               .Montana    1106522    1122095    1131302    1137233
32              .Nebraska    1964537    1972246    1987864    2005465
33                .Nevada    3148141    3176116    3214363    3267467
34         .New Hampshire    1387677    1396678    1402199    1409032
35            .New Jersey    9270541    9295227    9379642    9500851
36            .New Mexico    2117333    2113868    2121164    2130256
37              .New York   19848276   19703747   19737367   19867248
38        .North Carolina   10564320   10710793   10881189   11046024
39          .North Dakota     777966     781057     789047     796568
40                  .Ohio   11767344   11777874   11824034   11883304
41              .Oklahoma    3992238    4026229    4063882    4095393
42                .Oregon    4254280    4247372    4253653    4272371
43          .Pennsylvania   13015571   12984990   13017721   13078751
44          .Rhode Island    1097246    1099498    1103429    1112308
45        .South Carolina    5194274    5287935    5387830    5478831
46          .South Dakota     896492     909723     918305     924669
47             .Tennessee    6965740    7062217    7148304    7227750
48                 .Texas   29570351   30113488   30727890   31290831
49                  .Utah    3339738    3391011    3443222    3503613
50               .Vermont     647210     648142     648708     648493
51              .Virginia    8658910    8683414    8734685    8811195
52            .Washington    7743760    7794123    7857320    7958180
53         .West Virginia    1785618    1774122    1770495    1769979
54             .Wisconsin    5881608    5903975    5930405    5960975
55               .Wyoming     579636     581978     585067     587618

### In this point i will get the data about GDP

In [116]:
GDP_df=pd.read_csv("SQGDP1__ALL_AREAS_2005_2025.csv",skipfooter=4)

C:\Users\el mostafa\AppData\Local\Temp\ipykernel_9964\629065086.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  GDP_df=pd.read_csv("SQGDP1__ALL_AREAS_2005_2025.csv",skipfooter=4)

In [117]:
GDP_df

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2005:Q1,2005:Q2,...,2023:Q1,2023:Q2,2023:Q3,2023:Q4,2024:Q1,2024:Q2,2024:Q3,2024:Q4,2025:Q1,2025:Q2
0,"""00000""",United States,,SQGDP1,1,...,Real GDP (millions of chained 2017 dollars) 1/,Millions of chained 2017 dollars,1.584473e+07,1.592278e+07,...,2.243961e+07,2.258050e+07,2.284099e+07,2.303378e+07,2.308212e+07,2.328651e+07,2.347857e+07,2.358654e+07,2.354821e+07,2.377098e+07
1,"""00000""",United States,,SQGDP1,2,...,Chain-type quantity indexes for real GDP,Quantity index,8.079100e+01,8.118900e+01,...,1.144170e+02,1.151360e+02,1.164640e+02,1.174470e+02,1.176930e+02,1.187350e+02,1.197150e+02,1.202650e+02,1.200700e+02,1.212060e+02
2,"""00000""",United States,,SQGDP1,3,...,Current-dollar GDP (millions of current dollars),Millions of current dollars,1.276729e+07,1.292266e+07,...,2.721644e+07,2.753006e+07,2.807485e+07,2.842472e+07,2.870816e+07,2.914704e+07,2.951166e+07,2.982518e+07,3.004211e+07,3.048573e+07
3,"""01000""",Alabama,5,SQGDP1,1,...,Real GDP (millions of chained 2017 dollars) 1/,Millions of chained 2017 dollars,1.956730e+05,1.974958e+05,...,2.456491e+05,2.465594e+05,2.488432e+05,2.522030e+05,2.511264e+05,2.546228e+05,2.577623e+05,2.590062e+05,2.585514e+05,2.593505e+05
4,"""01000""",Alabama,5,SQGDP1,2,...,Chain-type quantity indexes for real GDP,Quantity index,9.033200e+01,9.117300e+01,...,1.134030e+02,1.138240e+02,1.148780e+02,1.164290e+02,1.159320e+02,1.175460e+02,1.189950e+02,1.195700e+02,1.193600e+02,1.197290e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,"""97000""",Rocky Mountain,7,SQGDP1,2,...,Chain-type quantity indexes for real GDP,Quantity index,7.443800e+01,7.490600e+01,...,1.243750e+02,1.255160e+02,1.271060e+02,1.280940e+02,1.277540e+02,1.293430e+02,1.303430e+02,1.311020e+02,1.308320e+02,1.319590e+02
176,"""97000""",Rocky Mountain,7,SQGDP1,3,...,Current-dollar GDP (millions of current dollars),Millions of current dollars,4.127628e+05,4.191343e+05,...,1.039601e+06,1.051555e+06,1.074112e+06,1.087242e+06,1.091098e+06,1.112076e+06,1.124330e+06,1.136742e+06,1.146843e+06,1.159884e+06
177,"""98000""",Far West,8,SQGDP1,1,...,Real GDP (millions of chained 2017 dollars) 1/,Millions of chained 2017 dollars,2.794447e+06,2.821002e+06,...,4.411316e+06,4.453644e+06,4.506179e+06,4.541656e+06,4.574901e+06,4.606652e+06,4.649588e+06,4.679776e+06,4.674104e+06,4.719588e+06
178,"""98000""",Far West,8,SQGDP1,2,...,Chain-type quantity indexes for real GDP,Quantity index,7.358800e+01,7.428700e+01,...,1.161660e+02,1.172800e+02,1.186640e+02,1.195980e+02,1.204730e+02,1.213090e+02,1.224400e+02,1.232350e+02,1.230860e+02,1.242830e+02
179,"""98000""",Far West,8,SQGDP1,3,...,Current-dollar GDP (millions of current dollars),Millions of current dollars,2.292091e+06,2.329320e+06,...,5.246531e+06,5.334071e+06,5.431001e+06,5.495492e+06,5.578858e+06,5.654527e+06,5.732779e+06,5.804144e+06,5.835723e+06,5.921445e+06

In [118]:
GDP_df=GDP_df.drop(columns=["GeoFIPS","Region","TableName","IndustryClassification","2025:Q1","2025:Q2"])

In [119]:
GDP_df

,GeoName,LineCode,Description,Unit,2005:Q1,2005:Q2,2005:Q3,2005:Q4,2006:Q1,2006:Q2,...,2022:Q3,2022:Q4,2023:Q1,2023:Q2,2023:Q3,2023:Q4,2024:Q1,2024:Q2,2024:Q3,2024:Q4
0,United States,1,Real GDP (millions of chained 2017 dollars) 1/,Millions of chained 2017 dollars,1.584473e+07,1.592278e+07,1.604759e+07,1.613673e+07,1.635384e+07,1.639615e+07,...,2.212562e+07,2.227834e+07,2.243961e+07,2.258050e+07,2.284099e+07,2.303378e+07,2.308212e+07,2.328651e+07,2.347857e+07,2.358654e+07
1,United States,2,Chain-type quantity indexes for real GDP,Quantity index,8.079100e+01,8.118900e+01,8.182500e+01,8.227900e+01,8.338600e+01,8.360200e+01,...,1.128160e+02,1.135950e+02,1.144170e+02,1.151360e+02,1.164640e+02,1.174470e+02,1.176930e+02,1.187350e+02,1.197150e+02,1.202650e+02
2,United States,3,Current-dollar GDP (millions of current dollars),Millions of current dollars,1.276729e+07,1.292266e+07,1.314264e+07,1.332420e+07,1.359916e+07,1.375342e+07,...,2.633630e+07,2.677051e+07,2.721644e+07,2.753006e+07,2.807485e+07,2.842472e+07,2.870816e+07,2.914704e+07,2.951166e+07,2.982518e+07
3,Alabama,1,Real GDP (millions of chained 2017 dollars) 1/,Millions of chained 2017 dollars,1.956730e+05,1.974958e+05,1.967985e+05,1.990186e+05,1.991429e+05,2.000313e+05,...,2.407299e+05,2.436808e+05,2.456491e+05,2.465594e+05,2.488432e+05,2.522030e+05,2.511264e+05,2.546228e+05,2.577623e+05,2.590062e+05
4,Alabama,2,Chain-type quantity indexes for real GDP,Quantity index,9.033200e+01,9.117300e+01,9.085200e+01,9.187600e+01,9.193400e+01,9.234400e+01,...,1.111320e+02,1.124950e+02,1.134030e+02,1.138240e+02,1.148780e+02,1.164290e+02,1.159320e+02,1.175460e+02,1.189950e+02,1.195700e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,Rocky Mountain,2,Chain-type quantity indexes for real GDP,Quantity index,7.443800e+01,7.490600e+01,7.532400e+01,7.542600e+01,7.734500e+01,7.773200e+01,...,1.215280e+02,1.229160e+02,1.243750e+02,1.255160e+02,1.271060e+02,1.280940e+02,1.277540e+02,1.293430e+02,1.303430e+02,1.311020e+02
176,Rocky Mountain,3,Current-dollar GDP (millions of current dollars),Millions of current dollars,4.127628e+05,4.191343e+05,4.276329e+05,4.343693e+05,4.464059e+05,4.523782e+05,...,1.004518e+06,1.021102e+06,1.039601e+06,1.051555e+06,1.074112e+06,1.087242e+06,1.091098e+06,1.112076e+06,1.124330e+06,1.136742e+06
177,Far West,1,Real GDP (millions of chained 2017 dollars) 1/,Millions of chained 2017 dollars,2.794447e+06,2.821002e+06,2.850669e+06,2.876982e+06,2.932042e+06,2.931822e+06,...,4.377728e+06,4.380297e+06,4.411316e+06,4.453644e+06,4.506179e+06,4.541656e+06,4.574901e+06,4.606652e+06,4.649588e+06,4.679776e+06
178,Far West,2,Chain-type quantity indexes for real GDP,Quantity index,7.358800e+01,7.428700e+01,7.506800e+01,7.576100e+01,7.721100e+01,7.720500e+01,...,1.152810e+02,1.153490e+02,1.161660e+02,1.172800e+02,1.186640e+02,1.195980e+02,1.204730e+02,1.213090e+02,1.224400e+02,1.232350e+02
179,Far West,3,Current-dollar GDP (millions of current dollars),Millions of current dollars,2.292091e+06,2.329320e+06,2.371638e+06,2.409566e+06,2.474031e+06,2.492621e+06,...,5.096221e+06,5.158098e+06,5.246531e+06,5.334071e+06,5.431001e+06,5.495492e+06,5.578858e+06,5.654527e+06,5.732779e+06,5.804144e+06

### Trying to get monthy values of population from yearly values by interpolation

In [55]:
fpop_df = pd.melt(
    fpop_df,
    id_vars=['State'],       
    var_name='Year',          
    value_name='Population'          
)

In [56]:
fpop_df

              State  Year  Population
0     United States  2005   295516599
1         Northeast  2005    54451230
2           Midwest  2005    65751872
3             South  2005   107479771
4              West  2005    67833726
..              ...   ...         ...
331       .Virginia  2010     8024617
332     .Washington  2010     6744496
333  .West Virginia  2010     1853973
334      .Wisconsin  2010     5691047
335        .Wyoming  2010      564460

[336 rows x 3 columns]

In [57]:
fpop_df["date"] = pd.to_datetime(fpop_df["Year"],format='%Y')

In [58]:
fpop_df=fpop_df.drop(columns=["Year"])

In [59]:
fpop_df

              State  Population       date
0     United States   295516599 2005-01-01
1         Northeast    54451230 2005-01-01
2           Midwest    65751872 2005-01-01
3             South   107479771 2005-01-01
4              West    67833726 2005-01-01
..              ...         ...        ...
331       .Virginia     8024617 2010-01-01
332     .Washington     6744496 2010-01-01
333  .West Virginia     1853973 2010-01-01
334      .Wisconsin     5691047 2010-01-01
335        .Wyoming      564460 2010-01-01

[336 rows x 3 columns]

In [60]:
fpop_df= fpop_df.sort_values(['State', 'date'])

fpop_df = (
    fpop_df.set_index('date')
      .groupby('State')['Population']
      .apply(lambda s: s.resample('MS').interpolate())
      .reset_index()
)

fpop_df.tail(10)

     State       date    Population
3406  West 2009-04-01  7.154280e+07
3407  West 2009-05-01  7.160994e+07
3408  West 2009-06-01  7.167709e+07
3409  West 2009-07-01  7.174423e+07
3410  West 2009-08-01  7.181137e+07
3411  West 2009-09-01  7.187851e+07
3412  West 2009-10-01  7.194565e+07
3413  West 2009-11-01  7.201280e+07
3414  West 2009-12-01  7.207994e+07
3415  West 2010-01-01  7.214708e+07

In [61]:
fpop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3416 entries, 0 to 3415
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       3416 non-null   object
 1   date        3416 non-null   datetime64[ns]
 2   Population  3416 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 80.2+ KB

In [91]:
spop_df = pd.melt(
    spop_df,
    id_vars=['State'],       
    var_name='Year',          
    value_name='Population'          
)

In [92]:
spop_df

              State  Year  Population
0     United States  2011   311583481
1         Northeast  2011    55608318
2           Midwest  2011    67164092
3             South  2011   116019483
4              West  2011    72791588
..              ...   ...         ...
555       .Virginia  2020     8590563
556     .Washington  2020     7693612
557  .West Virginia  2020     1784787
558      .Wisconsin  2020     5832655
559        .Wyoming  2020      582328

[560 rows x 3 columns]

In [93]:
spop_df["date"] = pd.to_datetime(spop_df["Year"],format='%Y')

In [94]:
spop_df=spop_df.drop(columns=["Year"])

In [95]:
spop_df

              State  Population       date
0     United States   311583481 2011-01-01
1         Northeast    55608318 2011-01-01
2           Midwest    67164092 2011-01-01
3             South   116019483 2011-01-01
4              West    72791588 2011-01-01
..              ...         ...        ...
555       .Virginia     8590563 2020-01-01
556     .Washington     7693612 2020-01-01
557  .West Virginia     1784787 2020-01-01
558      .Wisconsin     5832655 2020-01-01
559        .Wyoming      582328 2020-01-01

[560 rows x 3 columns]

In [96]:
spop_df= spop_df.sort_values(['State', 'date'])

spop_df = (
    spop_df.set_index('date')
      .groupby('State')['Population']
      .apply(lambda s: s.resample('MS').interpolate())
      .reset_index()
)

spop_df.head(50)

       State       date    Population
0   .Alabama 2011-01-01  4.799642e+06
1   .Alabama 2011-02-01  4.801058e+06
2   .Alabama 2011-03-01  4.802474e+06
3   .Alabama 2011-04-01  4.803890e+06
4   .Alabama 2011-05-01  4.805305e+06
5   .Alabama 2011-06-01  4.806721e+06
6   .Alabama 2011-07-01  4.808137e+06
7   .Alabama 2011-08-01  4.809553e+06
8   .Alabama 2011-09-01  4.810969e+06
9   .Alabama 2011-10-01  4.812384e+06
10  .Alabama 2011-11-01  4.813800e+06
11  .Alabama 2011-12-01  4.815216e+06
12  .Alabama 2012-01-01  4.816632e+06
13  .Alabama 2012-02-01  4.817878e+06
14  .Alabama 2012-03-01  4.819124e+06
15  .Alabama 2012-04-01  4.820370e+06
16  .Alabama 2012-05-01  4.821617e+06
17  .Alabama 2012-06-01  4.822863e+06
18  .Alabama 2012-07-01  4.824109e+06
19  .Alabama 2012-08-01  4.825355e+06
20  .Alabama 2012-09-01  4.826601e+06
21  .Alabama 2012-10-01  4.827848e+06
22  .Alabama 2012-11-01  4.829094e+06
23  .Alabama 2012-12-01  4.830340e+06
24  .Alabama 2013-01-01  4.831586e+06
25  .Alabama 2013-02-01  4.832599e+06
26  .Alabama 2013-03-01  4.833611e+06
27  .Alabama 2013-04-01  4.834624e+06
28  .Alabama 2013-05-01  4.835636e+06
29  .Alabama 2013-06-01  4.836649e+06
30  .Alabama 2013-07-01  4.837662e+06
31  .Alabama 2013-08-01  4.838674e+06
32  .Alabama 2013-09-01  4.839687e+06
33  .Alabama 2013-10-01  4.840699e+06
34  .Alabama 2013-11-01  4.841712e+06
35  .Alabama 2013-12-01  4.842724e+06
36  .Alabama 2014-01-01  4.843737e+06
37  .Alabama 2014-02-01  4.844659e+06
38  .Alabama 2014-03-01  4.845581e+06
39  .Alabama 2014-04-01  4.846504e+06
40  .Alabama 2014-05-01  4.847426e+06
41  .Alabama 2014-06-01  4.848348e+06
42  .Alabama 2014-07-01  4.849270e+06
43  .Alabama 2014-08-01  4.850192e+06
44  .Alabama 2014-09-01  4.851114e+06
45  .Alabama 2014-10-01  4.852036e+06
46  .Alabama 2014-11-01  4.852959e+06
47  .Alabama 2014-12-01  4.853881e+06
48  .Alabama 2015-01-01  4.854803e+06
49  .Alabama 2015-02-01  4.855805e+06

In [108]:
tpop_df = pd.melt(
    tpop_df,
    id_vars=['State'],       
    var_name='Year',          
    value_name='Population'          
)

In [109]:
tpop_df

              State  Year  Population
0     United States  2021   332099760
1         Northeast  2021    57252533
2           Midwest  2021    68872831
3             South  2021   127368010
4              West  2021    78606386
..              ...   ...         ...
219       .Virginia  2024     8811195
220     .Washington  2024     7958180
221  .West Virginia  2024     1769979
222      .Wisconsin  2024     5960975
223        .Wyoming  2024      587618

[224 rows x 3 columns]

In [110]:
tpop_df["date"] = pd.to_datetime(tpop_df["Year"],format='%Y')

In [111]:
tpop_df=tpop_df.drop(columns=["Year"])

In [112]:
tpop_df

              State  Population       date
0     United States   332099760 2021-01-01
1         Northeast    57252533 2021-01-01
2           Midwest    68872831 2021-01-01
3             South   127368010 2021-01-01
4              West    78606386 2021-01-01
..              ...         ...        ...
219       .Virginia     8811195 2024-01-01
220     .Washington     7958180 2024-01-01
221  .West Virginia     1769979 2024-01-01
222      .Wisconsin     5960975 2024-01-01
223        .Wyoming      587618 2024-01-01

[224 rows x 3 columns]

In [113]:
tpop_df= tpop_df.sort_values(['State', 'date'])

tpop_df = (
    tpop_df.set_index('date')
      .groupby('State')['Population']
      .apply(lambda s: s.resample('MS').interpolate())
      .reset_index()
)

tpop_df.head(50)

       State       date    Population
0   .Alabama 2021-01-01  5.049196e+06
1   .Alabama 2021-02-01  5.051445e+06
2   .Alabama 2021-03-01  5.053694e+06
3   .Alabama 2021-04-01  5.055942e+06
4   .Alabama 2021-05-01  5.058191e+06
5   .Alabama 2021-06-01  5.060440e+06
6   .Alabama 2021-07-01  5.062688e+06
7   .Alabama 2021-08-01  5.064937e+06
8   .Alabama 2021-09-01  5.067186e+06
9   .Alabama 2021-10-01  5.069435e+06
10  .Alabama 2021-11-01  5.071684e+06
11  .Alabama 2021-12-01  5.073932e+06
12  .Alabama 2022-01-01  5.076181e+06
13  .Alabama 2022-02-01  5.079639e+06
14  .Alabama 2022-03-01  5.083096e+06
15  .Alabama 2022-04-01  5.086554e+06
16  .Alabama 2022-05-01  5.090012e+06
17  .Alabama 2022-06-01  5.093469e+06
18  .Alabama 2022-07-01  5.096927e+06
19  .Alabama 2022-08-01  5.100385e+06
20  .Alabama 2022-09-01  5.103842e+06
21  .Alabama 2022-10-01  5.107300e+06
22  .Alabama 2022-11-01  5.110758e+06
23  .Alabama 2022-12-01  5.114215e+06
24  .Alabama 2023-01-01  5.117673e+06
25  .Alabama 2023-02-01  5.121008e+06
26  .Alabama 2023-03-01  5.124344e+06
27  .Alabama 2023-04-01  5.127680e+06
28  .Alabama 2023-05-01  5.131015e+06
29  .Alabama 2023-06-01  5.134350e+06
30  .Alabama 2023-07-01  5.137686e+06
31  .Alabama 2023-08-01  5.141022e+06
32  .Alabama 2023-09-01  5.144357e+06
33  .Alabama 2023-10-01  5.147692e+06
34  .Alabama 2023-11-01  5.151028e+06
35  .Alabama 2023-12-01  5.154364e+06
36  .Alabama 2024-01-01  5.157699e+06
37   .Alaska 2021-01-01  7.344200e+05
38   .Alaska 2021-02-01  7.344218e+05
39   .Alaska 2021-03-01  7.344237e+05
40   .Alaska 2021-04-01  7.344255e+05
41   .Alaska 2021-05-01  7.344273e+05
42   .Alaska 2021-06-01  7.344292e+05
43   .Alaska 2021-07-01  7.344310e+05
44   .Alaska 2021-08-01  7.344328e+05
45   .Alaska 2021-09-01  7.344347e+05
46   .Alaska 2021-10-01  7.344365e+05
47   .Alaska 2021-11-01  7.344383e+05
48   .Alaska 2021-12-01  7.344402e+05
49   .Alaska 2022-01-01  7.344420e+05

### Trying to get monthy values of GDP from yearly values by interpolation

In [120]:
GDP_df = pd.melt(
    GDP_df,
    id_vars=['GeoName','LineCode','Description','Unit'],       
    var_name='Year-Quarter',          
    value_name='GDP'          
)

In [121]:
GDP_df

,GeoName,LineCode,Description,Unit,Year-Quarter,GDP
0,United States,1,Real GDP (millions of chained 2017 dollars) 1/,Millions of chained 2017 dollars,2005:Q1,1.584473e+07
1,United States,2,Chain-type quantity indexes for real GDP,Quantity index,2005:Q1,8.079100e+01
2,United States,3,Current-dollar GDP (millions of current dollars),Millions of current dollars,2005:Q1,1.276729e+07
3,Alabama,1,Real GDP (millions of chained 2017 dollars) 1/,Millions of chained 2017 dollars,2005:Q1,1.956730e+05
4,Alabama,2,Chain-type quantity indexes for real GDP,Quantity index,2005:Q1,9.033200e+01
...,...,...,...,...,...,...
14395,Rocky Mountain,2,Chain-type quantity indexes for real GDP,Quantity index,2024:Q4,1.311020e+02
14396,Rocky Mountain,3,Current-dollar GDP (millions of current dollars),Millions of current dollars,2024:Q4,1.136742e+06
14397,Far West,1,Real GDP (millions of chained 2017 dollars) 1/,Millions of chained 2017 dollars,2024:Q4,4.679776e+06
14398,Far West,2,Chain-type quantity indexes for real GDP,Quantity index,2024:Q4,1.232350e+02
14399,Far West,3,Current-dollar GDP (millions of current dollars),Millions of current dollars,2024:Q4,5.804144e+06

In [122]:
GDP_df = GDP_df[GDP_df["LineCode"]==3]

In [123]:
GDP_df.reset_index()

,index,GeoName,LineCode,Description,Unit,Year-Quarter,GDP
0,2,United States,3,Current-dollar GDP (millions of current dollars),Millions of current dollars,2005:Q1,12767286.0
1,5,Alabama,3,Current-dollar GDP (millions of current dollars),Millions of current dollars,2005:Q1,155647.0
2,8,Alaska,3,Current-dollar GDP (millions of current dollars),Millions of current dollars,2005:Q1,37932.4
3,11,Arizona,3,Current-dollar GDP (millions of current dollars),Millions of current dollars,2005:Q1,220892.2
4,14,Arkansas,3,Current-dollar GDP (millions of current dollars),Millions of current dollars,2005:Q1,89475.9
...,...,...,...,...,...,...,...
4795,14387,Plains,3,Current-dollar GDP (millions of current dollars),Millions of current dollars,2024:Q4,1826346.0
4796,14390,Southeast,3,Current-dollar GDP (millions of current dollars),Millions of current dollars,2024:Q4,6660897.2
4797,14393,Southwest,3,Current-dollar GDP (millions of current dollars),Millions of current dollars,2024:Q4,3820981.2
4798,14396,Rocky Mountain,3,Current-dollar GDP (millions of current dollars),Millions of current dollars,2024:Q4,1136742.2
4799,14399,Far West,3,Current-dollar GDP (millions of current dollars),Millions of current dollars,2024:Q4,5804143.5

In [ ]:
GDP_df["Year-Quarter"] = GDP_df["Year-Quarter"].str.replace(":", "",regex=False)

GDP_df["Quarter"] = pd.PeriodIndex(GDP_df["Year-Quarter"], freq="Q")

GDP_df["date"] = GDP_df["Quarter"].dt.to_timestamp()

GDP_df= (
    GDP_df.set_index("date")
      .groupby("GeoName")["GDP"]
      .apply(lambda s: s.resample("MS").interpolate())
      .reset_index()
)

In [125]:
GDP_df

       GeoName       date            GDP
0      Alabama 2005-01-01  155647.000000
1      Alabama 2005-02-01  156429.633333
2      Alabama 2005-03-01  157212.266667
3      Alabama 2005-04-01  157994.900000
4      Alabama 2005-05-01  158304.766667
...        ...        ...            ...
14275  Wyoming 2024-06-01   51795.600000
14276  Wyoming 2024-07-01   51928.000000
14277  Wyoming 2024-08-01   51891.100000
14278  Wyoming 2024-09-01   51854.200000
14279  Wyoming 2024-10-01   51817.300000

[14280 rows x 3 columns]

In [126]:
GDP_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14280 entries, 0 to 14279
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GeoName  14280 non-null  object
 1   date     14280 non-null  datetime64[ns]
 2   GDP      14280 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 334.8+ KB

### Now i will transfer The data to the staging Layer (SnowFlake)

In [134]:
import snowflake.connector

In [135]:
conn = snowflake.connector.connect(
    user='MOHAMEDELMETWALLY',
    password='Metoo012345678910',
    account='FNNGFGX-KR38001',   
    warehouse='COMPUTE_WH',
    database='CONSUMPTION',
    schema='STAGING'
)

In [136]:
cur = conn.cursor()

In [ ]:
Cons_df.values.tolist()

In [61]:
cur.executemany("INSERT INTO CONS_STATES (DATE,STATEID,STATE_NAME,SECTOR_ID,SECTOR_NAME,SALES,SALES_UNIT) VALUES (%s, %s, %s,%s,%s,%s,%s)", Cons_df.values.tolist())

In [68]:
batch_size = 10000
rows = Type_df.values.tolist()

for i in range(0, len(rows), batch_size):
    batch = rows[i:i+batch_size]
    cur.executemany("""
        INSERT INTO TYPES_STATES 
        (DATE,STATEID,STATE_NAME,SECTOR_ID,SECTOR_NAME,SOURCE_TYPE,SOURCE_DESC,QUANTITY,UNIT)
        VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)
    """, batch)

In [66]:
Type_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361022 entries, 0 to 361021
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   period               361022 non-null  object
 1   location             361022 non-null  object
 2   stateDescription     361022 non-null  object
 3   sectorid             361022 non-null  object
 4   sectorDescription    361022 non-null  object
 5   fueltypeid           361022 non-null  object
 6   fuelTypeDescription  361022 non-null  object
 7   generation           359398 non-null  object
 8   generation-units     361022 non-null  object
dtypes: object(9)
memory usage: 24.8+ MB

In [45]:
Cons_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85188 entries, 0 to 85187
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   period            85188 non-null  object
 1   stateid           85188 non-null  object
 2   stateDescription  85188 non-null  object
 3   sectorid          85188 non-null  object
 4   sectorName        85188 non-null  object
 5   sales             70990 non-null  object
 6   sales-units       85188 non-null  object
dtypes: object(7)
memory usage: 4.5+ MB

In [28]:
Type_df["fueltypeid"].unique()

array(['COL', 'PET', 'SUN', 'WND'], dtype=object)

In [44]:
Type_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361022 entries, 0 to 361021
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   period               361022 non-null  object
 1   location             361022 non-null  object
 2   stateDescription     361022 non-null  object
 3   sectorid             361022 non-null  object
 4   sectorDescription    361022 non-null  object
 5   fueltypeid           361022 non-null  object
 6   fuelTypeDescription  361022 non-null  object
 7   generation           359398 non-null  object
 8   generation-units     361022 non-null  object
dtypes: object(9)
memory usage: 24.8+ MB

In [46]:
Type_df[Type_df["generation"].isnull()]

,period,location,stateDescription,sectorid,sectorDescription,fueltypeid,fuelTypeDescription,generation,generation-units
83,2023-01,AL,Alabama,2,IPP Non-CHP,PET,petroleum,None,thousand megawatthours
90,2023-01,AL,Alabama,94,Independent Power Producers,PET,petroleum,None,thousand megawatthours
240,2023-01,CT,Connecticut,4,Commercial Non-CHP,SUN,solar,None,thousand megawatthours
254,2023-01,CT,Connecticut,96,All Commercial,SUN,solar,None,thousand megawatthours
351,2023-01,ESC,East South Central,2,IPP Non-CHP,PET,petroleum,None,thousand megawatthours
...,...,...,...,...,...,...,...,...,...
358642,2005-03,PA,Pennsylvania,1,Electric Utility,COL,"coal, excluding waste coal",None,thousand megawatthours
359289,2005-02,LA,Louisiana,3,IPP CHP,PET,petroleum,None,thousand megawatthours
359678,2005-02,PA,Pennsylvania,1,Electric Utility,COL,"coal, excluding waste coal",None,thousand megawatthours
360325,2005-01,LA,Louisiana,3,IPP CHP,PET,petroleum,None,thousand megawatthours
360714,2005-01,PA,Pennsylvania,1,Electric Utility,COL,"coal, excluding waste coal",None,thousand megawatthours

In [83]:
fpop_df["Population"][(fpop_df["State"]==".Alabama") & (fpop_df["date"].dt.year == 2005)]

0     4.569805e+06
1     4.574736e+06
2     4.579668e+06
3     4.584599e+06
4     4.589530e+06
5     4.594462e+06
6     4.599393e+06
7     4.604324e+06
8     4.609256e+06
9     4.614187e+06
10    4.619118e+06
11    4.624050e+06
Name: Population, dtype: float64

In [80]:
fpop_df

         State       date    Population
0     .Alabama 2005-01-01  4.569805e+06
1     .Alabama 2005-02-01  4.574736e+06
2     .Alabama 2005-03-01  4.579668e+06
3     .Alabama 2005-04-01  4.584599e+06
4     .Alabama 2005-05-01  4.589530e+06
...        ...        ...           ...
3411      West 2009-09-01  7.187851e+07
3412      West 2009-10-01  7.194565e+07
3413      West 2009-11-01  7.201280e+07
3414      West 2009-12-01  7.207994e+07
3415      West 2010-01-01  7.214708e+07

[3416 rows x 3 columns]

In [98]:
len(spop_df["State"].unique())

56

In [99]:
spop_df

         State       date    Population
0     .Alabama 2011-01-01  4.799642e+06
1     .Alabama 2011-02-01  4.801058e+06
2     .Alabama 2011-03-01  4.802474e+06
3     .Alabama 2011-04-01  4.803890e+06
4     .Alabama 2011-05-01  4.805305e+06
...        ...        ...           ...
6099      West 2019-09-01  7.853663e+07
6100      West 2019-10-01  7.856616e+07
6101      West 2019-11-01  7.859569e+07
6102      West 2019-12-01  7.862522e+07
6103      West 2020-01-01  7.865476e+07

[6104 rows x 3 columns]

In [100]:
fpop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3416 entries, 0 to 3415
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       3416 non-null   object
 1   date        3416 non-null   datetime64[ns]
 2   Population  3416 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 80.2+ KB

In [101]:
spop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6104 entries, 0 to 6103
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       6104 non-null   object
 1   date        6104 non-null   datetime64[ns]
 2   Population  6104 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 143.2+ KB

In [114]:
tpop_df

         State       date    Population
0     .Alabama 2021-01-01  5.049196e+06
1     .Alabama 2021-02-01  5.051445e+06
2     .Alabama 2021-03-01  5.053694e+06
3     .Alabama 2021-04-01  5.055942e+06
4     .Alabama 2021-05-01  5.058191e+06
...        ...        ...           ...
2067      West 2023-09-01  7.978657e+07
2068      West 2023-10-01  7.984387e+07
2069      West 2023-11-01  7.990117e+07
2070      West 2023-12-01  7.995848e+07
2071      West 2024-01-01  8.001578e+07

[2072 rows x 3 columns]

In [115]:
tpop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072 entries, 0 to 2071
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       2072 non-null   object
 1   date        2072 non-null   datetime64[ns]
 2   Population  2072 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 48.7+ KB

In [ ]:
GDP_df["date"].unique()

<DatetimeArray>
['2005-01-01 00:00:00', '2005-02-01 00:00:00', '2005-03-01 00:00:00',
 '2005-04-01 00:00:00', '2005-05-01 00:00:00', '2005-06-01 00:00:00',
 '2005-07-01 00:00:00', '2005-08-01 00:00:00', '2005-09-01 00:00:00',
 '2005-10-01 00:00:00',
 ...
 '2024-01-01 00:00:00', '2024-02-01 00:00:00', '2024-03-01 00:00:00',
 '2024-04-01 00:00:00', '2024-05-01 00:00:00', '2024-06-01 00:00:00',
 '2024-07-01 00:00:00', '2024-08-01 00:00:00', '2024-09-01 00:00:00',
 '2024-10-01 00:00:00']
Length: 238, dtype: datetime64[ns]

In [130]:
GDP_df[GDP_df["GeoName"]=="Alabama"]

     GeoName       date            GDP
0    Alabama 2005-01-01  155647.000000
1    Alabama 2005-02-01  156429.633333
2    Alabama 2005-03-01  157212.266667
3    Alabama 2005-04-01  157994.900000
4    Alabama 2005-05-01  158304.766667
..       ...        ...            ...
233  Alabama 2024-06-01  326823.766667
234  Alabama 2024-07-01  328501.200000
235  Alabama 2024-08-01  329631.566667
236  Alabama 2024-09-01  330761.933333
237  Alabama 2024-10-01  331892.300000

[238 rows x 3 columns]

In [131]:
GDP_df

       GeoName       date            GDP
0      Alabama 2005-01-01  155647.000000
1      Alabama 2005-02-01  156429.633333
2      Alabama 2005-03-01  157212.266667
3      Alabama 2005-04-01  157994.900000
4      Alabama 2005-05-01  158304.766667
...        ...        ...            ...
14275  Wyoming 2024-06-01   51795.600000
14276  Wyoming 2024-07-01   51928.000000
14277  Wyoming 2024-08-01   51891.100000
14278  Wyoming 2024-09-01   51854.200000
14279  Wyoming 2024-10-01   51817.300000

[14280 rows x 3 columns]

In [132]:
len(GDP_df["GeoName"].unique())

60

In [133]:
GDP_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14280 entries, 0 to 14279
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GeoName  14280 non-null  object
 1   date     14280 non-null  datetime64[ns]
 2   GDP      14280 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 334.8+ KB

In [139]:
fpop_df

         State       date    Population
0     .Alabama 2005-01-01  4.569805e+06
1     .Alabama 2005-02-01  4.574736e+06
2     .Alabama 2005-03-01  4.579668e+06
3     .Alabama 2005-04-01  4.584599e+06
4     .Alabama 2005-05-01  4.589530e+06
...        ...        ...           ...
3411      West 2009-09-01  7.187851e+07
3412      West 2009-10-01  7.194565e+07
3413      West 2009-11-01  7.201280e+07
3414      West 2009-12-01  7.207994e+07
3415      West 2010-01-01  7.214708e+07

[3416 rows x 3 columns]

In [140]:
fpop_df['date'] = fpop_df['date'].dt.strftime('%Y-%m-%d')

In [ ]:
cur.executemany("INSERT INTO POP_5_10 (STATE,DATE,POPULATION) VALUES (%s, %s, %s)", fpop_df.values.tolist())

In [138]:
fpop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3416 entries, 0 to 3415
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       3416 non-null   object
 1   date        3416 non-null   datetime64[ns]
 2   Population  3416 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 80.2+ KB

In [149]:
spop_df

         State        date    Population
0     .Alabama  2011-01-01  4.799642e+06
1     .Alabama  2011-02-01  4.801058e+06
2     .Alabama  2011-03-01  4.802474e+06
3     .Alabama  2011-04-01  4.803890e+06
4     .Alabama  2011-05-01  4.805305e+06
...        ...         ...           ...
6099      West  2019-09-01  7.853663e+07
6100      West  2019-10-01  7.856616e+07
6101      West  2019-11-01  7.859569e+07
6102      West  2019-12-01  7.862522e+07
6103      West  2020-01-01  7.865476e+07

[6104 rows x 3 columns]

In [143]:
spop_df['date'] = spop_df['date'].dt.strftime('%Y-%m-%d')

In [148]:
cur.executemany("INSERT INTO POP_11_20 (STATE,DATE,POPULATION) VALUES (%s, %s, %s)", spop_df.values.tolist())

In [147]:
cur.execute("delete from POP_11_20")

In [150]:
tpop_df

         State       date    Population
0     .Alabama 2021-01-01  5.049196e+06
1     .Alabama 2021-02-01  5.051445e+06
2     .Alabama 2021-03-01  5.053694e+06
3     .Alabama 2021-04-01  5.055942e+06
4     .Alabama 2021-05-01  5.058191e+06
...        ...        ...           ...
2067      West 2023-09-01  7.978657e+07
2068      West 2023-10-01  7.984387e+07
2069      West 2023-11-01  7.990117e+07
2070      West 2023-12-01  7.995848e+07
2071      West 2024-01-01  8.001578e+07

[2072 rows x 3 columns]

In [151]:
tpop_df['date'] = tpop_df['date'].dt.strftime('%Y-%m-%d')

In [152]:
cur.executemany("INSERT INTO POP_21_24 (STATE,DATE,POPULATION) VALUES (%s, %s, %s)", tpop_df.values.tolist())

In [153]:
GDP_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14280 entries, 0 to 14279
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GeoName  14280 non-null  object
 1   date     14280 non-null  datetime64[ns]
 2   GDP      14280 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 334.8+ KB

In [154]:
GDP_df['date'] = GDP_df['date'].dt.strftime('%Y-%m-%d')

In [156]:
cur.executemany("INSERT INTO GDP_STATES (GEONAME,DATE,GDP) VALUES (%s, %s, %s)", GDP_df.values.tolist())